html,body,#app, .full_screen{height: 100%; width: 100%;overflow: hidden}
.t-left{ text-align: left;}
.t-center{ text-align: center;}
.t-right{ text-align: right;}



.content_scroll{height:calc(100% - 46px);overflow: auto;}
